*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;

    
}
.header{
    height: 100vh;
    background-image: linear-gradient(to top,  #4ecdc563 0%, rgba(249, 240, 71, 0.3) 100%) , url(img/header.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x:hidden;
    
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    text-shadow: #fff 0 6px 30px;
    overflow-x:hidden;
}

.navbar-nav{
    align-items: flex-start;
    margin:2%;
}
  
.nav-item {
    padding-left: 20px;
   
}
.nav-item a{
    color:#fff;
   
}
.nav-item a:hover{
    color:#1e9817;
   
}


.hamburguer{
    overflow-x:hidden;
    position: absolute;
    background: rgba(255, 255, 255, 0);
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px #fafafa;
    left: 55px;
}
.presentacion{
    display:flex;
    align-items: center;
    justify-content: center;  
   
    
}

.logop{
    width: 100%;
}


/* ------------ SCROLLBAR ------------ */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#1e9817;
    border-radius: 3.5px;
  }
  


/* Menu 2*/


.subtitulo{
    color:black;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top:30px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}
.checklist-servicio{
    width: 45%;
}
/* menu3 */

.about-us {
    background: #f2f2f2;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.articulo {
    width: 29%;
    background: #fff;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 45px 30px 45px 30px;
    transition: 0.5s;
}

.articulo:hover {
    box-shadow: 0 5px 10px rgba(17, 29, 48, .26);
}

.articulo>i {
    font-size: 30px;
    color: #fff;
    background: #1e9817;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
    color: #5D6678;
}

.articulo>p {
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a {
    color: #5D6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover {
    color: #1FDE82;
    transition: color .5s;
}

/* Menu 4 services*/



.services h3 {
    color: #1e9817;
    margin: 14px 0;
}

.card-left,
.card-right {
    margin: 4em 0;
}

.card-left .card__img,
.card-right .card__img {
    width: 380px;
    height: 260px;
    border-radius: 10px;
    object-fit: cover;
}

.card-right {
    display: flex;
    height: 300px;
    margin-right: 20%;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 90.62%);
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}

.card-left {
    display: flex;
    flex-direction: row-reverse;
    height: 300px;
    margin-left: 20%;
    border-radius: 10px;
    background: linear-gradient(260deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 90.62%);
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}

.card-rigth__child {
    width: 95%;
    display: flex;
    margin-left: 11%;
    justify-content: space-between;
    align-items: center;
}

.card-left__child {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 11%;
    justify-content: space-between;
    align-items: center;
}

.card__info {
    width: 50%;
    padding: 2em;
}


#services {
    overflow-x: hidden!important;
    background-color: #4ecdc563;
    padding-top: 60px;

}

/* Menu 5*/

.box-skills a{
    color:#1e9817;

}
.box-skills i{
    color:black;
    font-size: 20px;

}


.box-skills a:hover{
    color:#1e9817;
    transform: translateX(110%);
    transition:transform 0.3s ease-in-out;
}
iframe{
    width: 40%;
}




/*RESPONSIVE*/
@media screen and (max-width: 870px){
    .offcanvas{
        max-width: 60% !important;
    }
 
    .titulo{
        font-size: 40px;
    }
    .contenedor-servicio {
        flex-flow: row-reverse  wrap-reverse;
        
    }
 
    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
        
    }

    iframe{
        width: 80%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .checklist-servicio{
        width: 80%;
        
    }

    .service{
        margin-bottom: 30px;
    }
    
    .articulo {
        width: 45%;
    }
     
    .card__info{
        padding: 1em;
    }

    .subindex{
        margin: .5em;
    }

    .card-left__child{
        margin-right: 5%;
    }

    .card-rigth__child{
        margin-left: 5%;
    }
    
    
    
    footer {
        justify-content: space-evenly;
    }

    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }


  
    .foot{
        width:80%;
        color: #fff;
        text-align: center;
        justify-content: center;
        margin-bottom: 40px;
    }
 
    .logo{
        width:35%;
        margin: auto;
        display: block;

    }
}

@media (max-width: 720px){
    .card-right, .card-left{
        background: rgba(255, 255, 255, 0.3);
        border-radius: 15px;
        margin: 3em auto;
        height: auto;
        width: 70%;
    }

    .card-rigth__child, .card-left__child{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        margin: 1em;
        flex-direction: column-reverse;
        text-align: center;
    }

    .card__info{
        width: 80%;
    }

    .card-left .card__img, .card-right .card__img{
        width: 80%;
        height: auto;
        margin-bottom: 2em;
    }

   
}

@media screen and (max-width: 550px){

    .offcanvas{
        max-width: 50% !important;
    }

  

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }
   
    
    .articulo {
        width: 95%;
    }
    .card-right, .card-left{
        width: 85%;
    }

    .partFooter {
        width: 95%;
        margin-bottom: 40px;
    }
   

   
}
